/*---------------
    CONTAINER
---------------*/
.container-bigger {
    max-width: 1200px;
    margin: auto;
}

.container-smaller {
    max-width: 1000px;
    margin: auto;
}

/*---------------
   OTHER STYLE
---------------*/
.list-none{
    list-style: none;
}

/*---------------
    COLOR
---------------*/
.blue-color{
    color: #0061ff;
}

/*---------------
 FLEX + DISPLAY
---------------*/
.row, .col{
    display: flex;
}

.row-column, .col-column{
    display: flex;
    flex-direction: column;
}

.dis-inline{
    display: inline;
}

/*---------------
    MARGIN
---------------*/
.margin-b-30{
    margin-bottom: 30px;
}

/*---------------
    WIDTH
---------------*/
.img-max-w-100{
    max-width: 100%;
}

.w-70{
    max-width: 70%;
}

.w-60{
    max-width: 60%;
}

.w-40{
    max-width: 40%;
}

.w-30{
    max-width: 30%;
}


/* MAIN SEZIONE 7 ANIMAZIONI DOMANDE FREQUENTI */
main .section-7 .answer{
    position: absolute;
    left: -4000px;
    transition: all 0.5s;
}

main .section-7 .visually-hidden {
    position: absolute;
    left: -100vw;
}
  
main .section-7 input[name="answer-box-name"]:checked + i{
    transform: rotate(180deg);
}

main .section-7 #answer-box1:checked ~ .answer,
main .section-7 #answer-box2:checked ~ .answer,
main .section-7 #answer-box3:checked ~ .answer,
main .section-7 #answer-box4:checked ~ .answer{
    padding: 30px 80px 0 40px;
    display: block;
    position: relative;
    left: 0;
    transform: rotate(1080deg);
}