/*---------------
EFFETTI / HOVER
---------------*/
.black-effect:hover{
    text-decoration: underline;
    text-decoration-color: black;
}

.white-effect:hover{
    text-decoration: underline;
    text-decoration-color: white;
}

main .section-7 .faq:hover{
    background-color: rgba(228, 221, 211, 0.3);
}

footer .lang-hover:hover{
    color: white;
}

footer .lang-menu:hover{
    background-color: rgba(153, 153, 153, 0.5);
    text-decoration: underline;
    text-decoration-color: white;
}

/*----------------------------
ANIMAZIONI DOMANDE FREQUENTI
-----------------------------*/
main .section-7 .answer{
    position: absolute;
    left: -4000px;
    transition: all 0.5s;
}

main .section-7 .visually-hidden,
footer .visually-hidden {
    position: absolute;
    left: -100vw;
}
  
main .section-7 input[name="answer-box-name"]:checked + i{
    transform: rotate(180deg);
}

main .section-7 #answer-box1:checked ~ .answer,
main .section-7 #answer-box2:checked ~ .answer,
main .section-7 #answer-box3:checked ~ .answer,
main .section-7 #answer-box4:checked ~ .answer{
    padding: 30px 80px 0 40px;
    display: block;
    position: relative;
    left: 0;
    transform: rotate(1080deg);
}

/*----------------------------
ANIMAZIONI MENU' LINGUE FOOTER
-----------------------------*/
footer .lang-menu{
    transition: all 1s, padding-left 0s, background-color 0.3s;
    display: flex;
    cursor: pointer;
}

footer input[name="lang-menu-box"]:checked ~ i:not(.world-icon){
    transform: rotate(180deg);
    transition: transform 0.5s;
}

footer #languages-selection:checked ~ .lang-menu{
  color:white;
  border:1px solid white;
  padding-left: 30px;
  margin-top: 10px;
  opacity: 1;
  width:50%;
}

footer #languages-selection:checked ~ .lang-menu div{
  opacity: 1;
  position: relative;
}

/*---------------
   KEYFRAMES
---------------*/
.section-1 .hero-left .arrow-down{
    animation: moving-arrow-down 1.5s linear infinite;
}

@keyframes moving-arrow-down {
    0%{
        position: relative;
        top: 35px;
    }
    50%{
        position: relative;
        top: 70px;
    }
    100%{
        position: relative;
        top: 35px;
    }
}
