/*---------------
    RESET
---------------*/
@import url("common.css");
@import url("button.css");
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*---------------
    TYPOGRAPHY
---------------*/
body{
    font-family: 'Open Sans', sans-serif;
}

header .col{
    align-items: center;
}

header .col li a{
    text-decoration: none;
    color: black;
}

main h1{
    font-size: 75px;
    padding-top: 80px;
}

main .business-plan h2{
    font-size: 40px;
    padding: 170px 0 50px 0;
}

main .business-plan .subscription .sub-name{
    text-align: center;
    border-bottom: 1px solid #d0d0d3;
    padding: 10px 0;
}

main .abbonamenti .subscription h3:not(.info h3){
    padding: 30px 0 0 25px;
}

main .abbonamenti .subscription h5{
    padding-bottom: 35px;
}

main .abbonamenti .subscription > *:not(.sub-name, h3, h5, hr){
    padding: 10px 25px 0px 25px;
}

main .abbonamenti .for-user {
    color: #666666;
    display: block;
}

main .business-plan .abbonamenti .subscription ul:nth-child(5n){
    list-style: none;
    margin-top: 50px;
}

main .business-plan .abbonamenti ul li{
    padding-bottom: 20px;
    align-items: baseline;
    font-size: 15px;
}

main .business-plan .abbonamenti .icon{
    padding-right: 10px;
}

/*---------------
EFFETTI / HOVER
---------------*/
.black-effect:hover{
    text-decoration: underline;
    text-decoration-color: black;
}

.white-effect:hover{
    text-decoration: underline;
    text-decoration-color: white;
}

/*---------------
    HEADER
---------------*/
header {
    position: sticky;
    left: 0;
    top: 0;
    right: 0;
    z-index: 100;
    background-color: white;
    padding: 0.938rem 0;
}

header .row{
    justify-content: space-between;
    align-items: center;
}

header .header-left .col li{
    margin: 0 1.5vw 0 1vw;
}

header .header-right .col li{
    margin: 0 1.5vw 0 1vw;
}

/*---------------
MAIN SECTION 1
---------------*/
main .hero{
    background-color: #b4d0e7;
}

main .hero-left .arrow-down{
    font-size: 50px;
    position: relative;
    top: 1.823vw;
}

main .hero .hero-left, main .hero .hero-right{
    position: relative;
    bottom: -4.167vw;
}

/*---------------
MAIN SECTION 2
---------------*/
main .abbonamenti{
    justify-content: space-between;
    margin-top: 2.604vw;
    flex-wrap: wrap;
}

main .business-plan label{
    margin-right: 3.125vw;
}

main .business-plan .subscription{
    width: calc(100% / 3 - 40px);
    border: 0.052vw solid #d0d0d3;
}

main .abbonamenti .free-trial{
    margin: 1.042vw 0 2.604vw 0;
}

main .abbonamenti .subscription hr{
    margin: 2.604vw 1.302vw 1.563vw 1.302vw;
    background-color: #d0d0d3;
    max-width: 2.604vw;
}

main .subscription.last-sub{ 
    width: 100%;
    margin-top: 2.344vw;
}

main .last-sub .info{
    justify-content: space-between;
}

main .last-sub .info .col-column{
    padding: 2.083vw 1.563vw;
}

main .last-sub .info h4{
    margin: 1.563vw 0 2.083vw 0;
}

/*---------------
MAIN SECTION 3
---------------*/
main section.section-3{
    margin-top: 130px;
}

main #section-3-right{
    padding: 55px 60px;
}

/*---------------
MAIN SECTION 4
---------------*/
main .section-4 h2{
    margin: 110px 0 50px 0;
    font-size: 35px;
}

main .section-4 h3 {
    padding: 20px 0;
    font-size: 25px;
}

main .section-4 .row {
    flex-wrap: wrap;
    justify-content: space-between;
}

main .section-4 .col-column{
    width: calc(100% / 3 - 30px);
}

/*---------------
MAIN SECTION 5
---------------*/
main .section-5{
    margin-top: 110px;
}

main .section-5 .col.center{
    flex-direction: column;
    background-color: #f5f5f5;
    padding: 60px 50px;
    overflow-y: auto;
}

main .section-5 .col.center img{
    width: 50%;
    display: block;
}

main .section-5 .col.center hr{
    width: 15%;
    margin: 45px 0;
}

main .section-5 .col.center .cit-member{
    margin-top: 50px;
}

main .section-5 .col{
    width: calc(100vw / 3);
    height: calc(100vw / 3);
    flex-wrap: wrap;
}

main .section-5 .square{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .section-5 .square img {
    width: 80%;
    height: 30%;
    display: block;
    filter: invert(1);
}

main .section-5 .square#sqr-1{
    background-color: #a2d39b;
    box-shadow: inset 0 0 0 1rem #d1e9cd;
}
main .section-5 .square#sqr-2{
    background-color: #61082b;
}
main .section-5 .square#sqr-3{
    background-color: #0093ce;
}
main .section-5 .square#sqr-4{
    background-color: #ff1c1c;
}
main .section-5 .square#sqr-5{
    background-color: #d5001f;
}
main .section-5 .square#sqr-6{
    background-color: #b4d0e7;
}
main .section-5 .square#sqr-7{
    background-color: #0d2481;
}
main .section-5 .square#sqr-8{
    background-color: #ffd830;
}

/*---------------
MAIN SECTION 6
---------------*/
main .section-6 {
    background-color: #b4d0e7;
    max-width: 100%;
    padding: 100px 0;
}

main .section-6 .col{
    align-items: baseline;
}

main .section-6 .col .partner-button{
    padding: 10px 30px;
}

main .section-6 h2{
    font-size: 35px;
    color: #61082b;
}

/*---------------
MAIN SECTION 7
---------------*/
main .section-7 {
    margin: 130px auto;
    position: relative;
}

main .section-7 .row{
    justify-content: space-between;
    padding: 35px 0;
    font-weight: 800;
    border-top: 1px solid; 
}

main .section-7 .row:last-child{
    border-bottom: 1px solid; 
}

main .section-7 h2{
    font-size: 40px;
}

main .section-7 .row i{
    margin-right: 50px;
    cursor: pointer;
    transition: transform 0.5s;
}

main .section-7 .row i:hover{
    transform: rotate(90deg);
}

/*---------------
    FOOTER
---------------*/
footer {
    max-width: 100%;
    background-color: black;
    color: white;
    padding-top: 80px;
}

footer .col-column{
    width: calc(100% / 5);
}

footer .lang hr{
    margin: 40px 0;
}

footer .col-column ul li{
    padding: 8px 0;
}

footer .col-column a{
    color: white;
    text-decoration: none;
}
footer .lang a{
    color: #999999;
}

footer .row .col-column ul li.lang{
    margin: 80px 0 40px 0;
}

footer .lang span{
    padding: 0 5px;
}