/*---------------
    RESET
---------------*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*---------------
    TYPOGRAPHY
---------------*/
body{
    font-family: 'Open Sans', sans-serif;
}

header .col li a{
    text-decoration: none;
    color: black;
}

h1{
    font-size: 75px;
    padding-top: 80px;
}
/*---------------
    COMMON
---------------*/
.container-bigger {
    max-width: 1200px;
    margin: auto;
}

.container-smaller {
    max-width: 1000px;
    margin: auto;
}

.row, .col{
    display: flex;
}

/*---------------
    BUTTON
---------------*/
.primary-button{
    background-color: #0061ff;
    padding: 8px 18px;
    color: white !important;
    text-decoration: none;
}

main #hero-button{
    align-self: flex-start;
}

/*---------------
    HEADER
---------------*/
header {
    position: sticky;
    left: 0;
    top: 0;
    right: 0;
    z-index: 100;
    background-color: white;
    padding: 15px 0;
}

header .row{
    justify-content: space-between;
    align-items: center;
}

header .col{
    list-style: none;
    align-items: center;
}

header .header-left .col li{
    margin: 0 1.5vw 0 1vw;
}

header .header-right .col li{
    margin: 0 1vw 0 1.5vw;
}

/*---------------
MAIN SECTION 1
---------------*/
main .hero{
    background-color: #b4d0e7;
}

main .hero .hero-left{
    max-width: 30%;
}

main .hero .col.hero-left{
    flex-direction: column;
}

main .hero .col.hero-left > *{
    margin-bottom: 30px;
}

main .hero-left .arrow-down{
    font-size: 50px;
    position: relative;
    top: 35px;
}

main .hero .hero-right{
    max-width: 70%;
}

main .hero .hero-right img{
    max-width: 100%;
}

main .hero .hero-left, main .hero .hero-right{
    position: relative;
    bottom: -80px;
}

/*---------------
    FOOTER
---------------*/